
* {
    margin: 0;
    padding: 0;
}

.main-header {
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 25px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(71, 101, 5) , rgb(142, 242, 120));
}

.section-title {
    border: 2px dotted rgb(9, 135, 9);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: green;
}

.menu-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 30px;
        padding: 30px;
      }
    

.menu-item__title,
.menu-item__price {
    font-size: 1rem;
    color: rgb(34, 120, 56);
}

.menu-item__title:hover {
    text-shadow: 1px 1px 1px rgb(5, 81, 39);
}

.description {
    font-size: 1.3rem;
    color: rgb(7, 92, 28);
    text-align: center;
}